html, body {
    font-size: 24pt;
    font-family: Helvetica, Arial, Sans-Serif;
}

button {
    font-size: 18pt;
    font-family: Helvetica, Arial, Sans-Serif;
}

div.sign {
    border: 1px solid maroon;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding-left: 10px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.padLeft {
    margin-left: 10px;
}